/* ----- MAIN  ----- */
/* --- HERO  --- */

#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#hero-right {
  text-align: center;
}

#hero-left-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 50rem) {
  #hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
