:root {
  --white: hsl(0, 0%, 93%);
  --red: hsl(352, 100%, 40%);
  --orange: hsl(27, 100%, 47%);
  --yellow: hsl(51, 100%, 43%);
  --green: hsl(83, 100%, 25%);
  --blue: hsl(211, 75%, 39%);
  --violet: hsl(287, 100%, 25%);
  --black: hsl(0, 0%, 7%);
  --rainbow: linear-gradient(
    to right,
    var(--red) 0%,
    var(--red) 16.6%,
    var(--orange) 16.6%,
    var(--orange) calc(2 * 16.6%),
    var(--yellow) calc(2 * 16.6%),
    var(--yellow) calc(3 * 16.6%),
    var(--green) calc(3 * 16.6%),
    var(--green) calc(4 * 16.6%),
    var(--blue) calc(4 * 16.6%),
    var(--blue) calc(5 * 16.6%),
    var(--violet) calc(5 * 16.6%),
    var(--violet) 100%
  );
}

body {
  height: 100vh;
  background-color: var(--white);
}

#skip-link {
  color: var(--black);
  text-transform: uppercase;

  text-transform: uppercase;

  background-color: var(--white);
  border-style: solid;
  border-width: 0.5rem;
  border-image: var(--rainbow) 100% 1;
  padding: 0.25rem;
  position: absolute;
  transform: translateY(-100%);
}

#skip-link:focus {
  transform: translateY(0%);
}
